.card {
	width: 100%;
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
	background: #fff;
	transition: all ease-in-out 0.5s;
	pointer-events: auto;
	cursor: pointer;
}

.card:hover {
	border-radius: 10px;
	padding: 20px 20px 32px 20px;
	box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1),
		0px 19px 43px 0px rgba(0, 0, 0, 0.1), 0px 78px 78px 0px rgba(0, 0, 0, 0.09),
		0px 175px 105px 0px rgba(0, 0, 0, 0.05),
		0px 311px 124px 0px rgba(0, 0, 0, 0.01),
		0px 486px 136px 0px rgba(0, 0, 0, 0);
	margin: -20px -20px 0 -20px;
	z-index: 1;
}

.card:hover .inStock {
	transition-delay: 0.2s;
	visibility: visible;
}

.card:hover .sweets {
	top: 40px;
	right: 40px;
}

.card:hover.large .sweets {
	top: 40px;
	right: 430px;
}

.card:hover.large .descriptionContainer {
	height: 285px;
}

.discountCard {
	height: 405px;
}

.discountCard:hover {
	width: calc(100% + 40px);
	height: 642px;
}

.fastDeliveryCard {
	height: 378px;
}

.fastDeliveryCard:hover {
	width: calc(100% + 40px);
	height: 650px;
}

.catalogCard {
	height: 347px;
}

.catalogCard:hover.small {
	width: calc(100% + 40px);
	height: 608px;
}

.catalogCard:hover.middle {
	width: calc(100% + 40px);
	height: 578px;
}

.catalogCard:hover.large {
	width: calc(100% + 40px);
	height: 327px;
	animation: 1s ease-in-out 0s cardAnimation;
	display: flex;
	gap: 20px;
}

.catalogCard:hover.large .image {
	animation: 0.5s ease-in-out 0s imageAnimation;
}

.catalogCard:hover.large .descriptionContainer {
	animation: 0.2s ease-in-out 0.5s descriptionAnimation;
}

.catalogCard:not(:hover).large.animation .image {
	animation: 0.5s ease-in-out 0s imageAnimationBack;
}

.image {
	background-color: #f8f8f8;
	border-radius: 10px;
}

.imageCatalogCard {
	height: 285px;
	margin-bottom: 8px;
}

.imageDiscountCard {
	height: 312px;
	margin-bottom: 32px;
}

.imageFastDeliveryCard {
	height: 294px;
	margin-bottom: 24px;
}

.image__picture {
	width: 100%;
	height: 100%;
	object-fit: contain;
	border-radius: 10px;
}

.sweets {
	display: flex;
	width: 130px;
	justify-content: flex-end;
	position: absolute;
	top: 20px;
	right: 20px;
	transition: all ease-in-out 0.5s;
}

.percentAndTruck {
	width: 34px;
	height: 34px;
	background-repeat: no-repeat;
	padding: 7px;
	box-sizing: content-box;
}

.discountPercent {
	background-image: url(../../assets/img/percent.svg);
}

.truckDelivery {
	background-image: url(../../assets/img/truckWithGreenBg.svg);
}

.likes {
	width: 34px;
	height: 34px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.3);
}

.title {
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 23px;
	color: var(--main-black);
	text-overflow: ellipsis;
	overflow: hidden;
}

.cardTitle {
	margin: 0 0 16px;
}

.catalogCardTitle {
	margin: 0 0 8px;
}

.description {
	display: flex;
}

.descriptionContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.descriptionFastDeliveryCard {
	flex-direction: column;
}

.descriptionDiscountCard {
	justify-content: space-between;
	flex-direction: row;
}

.price__new_fastDelivery {
	margin: 0 0 16px;
}

.price__new_catalog {
	margin: 0 0 8px;
}

.price {
	display: flex;
	font-size: 20px;
	font-weight: 700;
	line-height: 23px;
	color: var(--main-black);
}

.price__new_discountCard {
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 23px;
	color: var(--system-red);
	margin: 0 12px 8px 0;
}

.price__old_discountCard {
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 23px;
	text-decoration-line: line-through;
	color: #9c9c9c;
	margin: 0;
}

.inStock {
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	margin: 0 0 8px;
	color: #989898;
	visibility: hidden;
	transition: visibility ease-in-out 0.2s;
}

.aboutProperty {
	display: flex;
	justify-content: space-between;
	margin-bottom: 16px;
	width: 100%;
	background-color: #fff;
	box-shadow: none;
}

.aboutProperty:last-of-type {
	margin-bottom: 28px;
}

.property {
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 23px;
	margin: 0;
}

@keyframes cardAnimation {
	from {
		display: block;
	}
	to {
		display: flex;
	}
}

@keyframes imageAnimation {
	from {
		width: 100%;
	}
	to {
		width: 52%;
	}
}

@keyframes descriptionAnimation {
	from {
		transform: translateY(100%);
	}
	to {
		transform: translateY(0);
	}
}

@keyframes imageAnimationBack {
	from {
		width: 52%;
	}
	to {
		width: 100%;
	}
}
